nav.top-nav a.page-title {
    font-size: 30px;
}
header, main, footer {
    padding-left: 300px;
    line-height: 64px;
}
main .bread{
	line-height: 40px;
}
main .div-container{
	line-height: 30px;
}
td,th{
	padding:5px;
}
@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
  #frm-login{
	margin-top:100px;
}
}

ul.side-nav.fixed li.logo {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
ul.side-nav.fixed li.logo p{
	margin: 0px;
	line-height: 5px;
	font-size: 1.5em;
}
.dashboard-list li{
	opacity: 0;
}
#frm-login{
	margin-top:140px;
}
.div-container{
	margin:20px 10px;
}
.modal-content .row{
	margin-bottom: 0px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #9e9e9e;
    margin: 1em 0;
    padding: 0; 
}